<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/pond.css?v=3">
  <title>{% block title %}PondDB{% endblock %}</title>
  {% block head_extra %}{% endblock %}
</head>
<body>
  {% block body %}
  <header class="container">
    <nav>
      <ul><li><strong><a href="/">PondDB</a></strong></li></ul>
      <ul>
        <li><a href="/editor">SQL Editor</a></li>
        <li><a href="/docs">API Docs</a></li>
        <li><a href="/login" role="button">Log In</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container">
    {% block footer %}
    <small>Built by Tianlu &middot; <a href="/docs">Docs</a> &middot; PondDB v0.1</small>
    {% endblock %}
  </footer>
  {% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
